# create /etc/systemd/system/filebrowser.service
[Unit]
Description=File Browser Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/filebrowser -r / --address 0.0.0.0 --port 8080
Restart=always

[Install]
WantedBy=multi-user.target
